<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ragemp_path" value="C:\RAGEMP\"/>
    <add key="legacy_path" value="C:\Program Files (x86)\Steam\steamapps\common\Grand Theft Auto V"/>
    <add key="enhanced_path" value="C:\Program Files (x86)\Steam\steamapps\common\Grand Theft Auto V Enhanced"/>
    <add key="cef_port" value="6969"/>
  </appSettings>
</configuration>